.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        .button.btn.btn-danger.pull-right(data-dismiss="modal")
          span &times
        h2 New Contact Information
      .modal-body
        form(name="newContactForm", ng-submit="newContactForm.$valid && main.addNewContact()", novalidate)
          .form-group(ng-class="{'has-success': newContactForm.n.$dirty && main.newPerson.name}")
            label.control-label Name
            input.form-control(name="n", type="text", placeholder="Name", ng-model="main.newPerson.name",  required)
          .form-group(ng-class="{'has-success': newContactForm.p.$dirty && main.newPerson.name, 'has-error': newContactForm.p.$dirty && !main.newPerson.phone}")
            label.control-label Phone
            input.form-control(name="p", type="tel", placeholder="555-555-5555", ng-model="main.newPerson.phone", required)
          .form-group(ng-class="{'has-success': newContactForm.t.$dirty && (main.newPerson.twitter.length < 2 || main.newPerson.twitter[0] !=='@')}")
            label.control-label Twitter
            input.form-control(name="t", type="text", placeholder="@yourtwitter", ng-model="main.newPerson.twitter", required)
          .form-group(ng-class="{'has-success': newContactForm.pic.$dirty && (main.newPerson.photo || main.newPerson.photo)}")
            label.control-label Photo
            input.form-control(name="pic", type="text", placeholder="Photo url", ng-model="main.newPerson.photo", required)
          button.btn.btn-primary(ng-click="newContactForm.$valid", ng-disabled="newContactForm.$invalid") Add Person to Contacts
          button.btn.btn-default(data-dismiss="modal") Done
          div &nbsp;
