doctype html
html(lang="en-US" ng-app="angularAddresses")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Contacts
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet')
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="lib/build.css")
    link(rel="stylesheet", href="css/main.css")
  body(ng-controller="Main as main")
    .container
      h1 ANGULAR CONTACTS
      h2 Search
      input.form-control(placeholder="Search", ng-model="query")
      h2 Contacts
      table
        thead
          tr
            th Delete
            th Photo
            th Name
            th Phone Number
            th Twitter
        tbody
          tr(ng-repeat="person in main.people | orderBy:'name' | filter:query")
            td
              button.btn.btn-danger.btn-xs.glyphicon.glyphicon-remove-circle.white.xtext(ng-click="main.removeContact(person)")
            td
              img(ng-src="{{person.photo}}")
            td
              {{person.name | lowercase}}
            td
              {{person.phone}}
            td: a(href="http://twitter.com/{{person.twitter}}", target="_blank") {{person.twitter}}
      .btn.btn-primary.topmargin(data-toggle="modal", data-target="#modal") Add New Contact
      .modal.fade#modal
        .modal-dialog
          .modal-content
            .modal-header
              .button.btn.btn-danger.pull-right(data-dismiss="modal") cancel
                //span CLOSE
              h2 New Contact Information
            .modal-body
              form(name="newContactForm", ng-submit="newContactForm.$valid && main.addNewContact()", novalidate)
                .form-group(ng-class="{'has-success': newContactForm.n.$dirty && main.newPerson.name}")
                  label.control-label Name
                  input.form-control(name="n", type="text", placeholder="Name", ng-model="main.newPerson.name",  required)
                .form-group(ng-class="{'has-success': newContactForm.p.$dirty && main.newPerson.name, 'has-error': newContactForm.p.$dirty && !main.newPerson.phone}")
                  label.control-label Phone
                  input.form-control(name="p", type="tel", placeholder="555-555-5555", ng-model="main.newPerson.phone", required)
                .form-group(ng-class="{'has-success': newContactForm.t.$dirty && (main.newPerson.twitter.length < 2 || main.newPerson.twitter[0] !=='@')}")
                  label.control-label Twitter
                  input.form-control(name="t", type="text", placeholder="@yourtwitter", ng-model="main.newPerson.twitter", required)
                button.btn.btn-primary(ng-click="newContactForm.$valid && main.addNewContact()", ng-disabled="newContactForm.$invalid") Add Person to Contacts
                button.btn.btn-default(data-dismiss="modal") Done
                div &nbsp;
    script(src="lib/build.js")
    script(src="js/main.js")
